$ft_regular: 400;
$ft_medium: 500;
$ft_semiBold: 600;
$corLogo: #cdcdcd;
$corDestaque: #e6583c;
$ft_Roboto_Slab: 'Roboto Slab', serif;
$ft_Roboto_Serif: 'Roboto Serif', serif;
$ft_Poppins: 'Poppins', sans-serif;

.main {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr;
  max-width: 60rem;
  padding: 20px;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 2rem;
    color: #7d1e0b;
    text-align: center;
    margin-top: 8rem;
    font-family: $ft_Roboto_Slab;
    font-weight: $ft_regular;
  }

  .box {
    margin-top: 8rem;
    padding: 2rem;
    background: #cdcdcd;
    border-radius: 5px;

    h2 {
      font-family: $ft_Roboto_Slab;
      font-weight: $ft_regular;
      color: #231718;
      font-size: 2rem;
    }

    p {
      margin-top: 1rem;
      font-family: $ft_Roboto_Slab;
      font-weight: $ft_regular;
      color: #231718;
    }

    .form {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 1rem;

      .button {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        button {
          min-width: 20rem;
          letter-spacing: 1px;
        }
      }

      .termo {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        letter-spacing: 1px;

        .ckeck input:first-child {
          border: none;
        }

        p {
          margin: 0px 0px 0px 5rem;

          a {
            color: #7d1e0b;
            margin-left: 0.5rem;
          }
        }
        span {
          color: #7d1e0b;
          cursor: pointer;
        }
      }
    }
  }
}

.modalContainer {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  height: 100vh;

  &.mostrar {
    display: flex;
  }

  .modal {
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr;
    font-family: $ft_Roboto_Serif;
    justify-items: center;
    align-items: center;
    background: #fafafa;
    width: 80%;
    padding: 20px;
    border: 10px solid #e6583c;
    box-shadow: 0 0 0 10px #fafafa;
    position: relative;

    .fechar {
      position: absolute;
      top: -30px;
      right: -30px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 4px solid #fafafa;
      background: #e6583c;
      color: #fafafa;
      font-family: $ft_Poppins;
      cursor: pointer;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
      font-size: 1.2em;
    }

    h2 {
      margin-top: 1rem;
      color: #231718;
      font-weight: $ft_semiBold;
      align-items: center;
    }
    .termo {
      padding: 20px;
      margin: 0px 8rem;
      p {
        font-weight: $ft_medium;
        line-height: 1.5;
      }
      p + p {
        margin-top: 1rem;
      }
    }

    @keyframes modal {
      from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
      }
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
    }

    animation: modal 0.3s;
  }
}

// @media only screen
@media only screen and (min-width: 75rem) and (max-width: 101.25rem) {
  .modalContainer {
    .modal {
      width: 80%;
      padding: 10px;

      h2 {
        margin-top: 1rem;
        font-size: 1.4rem;
      }
      .termo {
        padding: 20px;
        margin: 0px 0.9rem;
        p {
          line-height: 1.5;
          font-size: 1rem;
        }
        p + p {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 61.25rem) and (max-width: 74.99rem) {
  .modalContainer {
    .modal {
      width: 80%;
      padding: 10px;

      h2 {
        font-size: 1.4rem;
      }
      .termo {
        margin: 0px 0.9rem;
        p {
          line-height: 1.5;
          font-size: 0.9rem;
        }
        p + p {
          margin-top: 0.7rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 41.25rem) and (max-width: 61.249rem) {
  .modalContainer {
    .modal {
      width: 80%;
      padding: 10px;

      h2 {
        font-size: 0.9rem;
      }
      .termo {
        margin: 0px 1rem;
        p {
          line-height: 1.5;
          font-size: 0.7rem;
        }
        p + p {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 24.375rem) and (max-width: 41.249rem) {
  .main {
    padding: 0px 15px;

    h1 {
      margin-top: 5rem;
    }

    .box {
      margin-top: 5rem;
      padding: 1rem;
      border-radius: 5px;

      h2 {
        color: #231718;
        font-size: 1.5rem;
      }

      p {
        margin-top: 1rem;
        color: #231718;
      }

      .form {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.4rem;

        .button {
          margin-top: 1rem;

          button {
            min-width: 18rem;
          }
        }

        .termo {
          margin-top: 1rem;
          letter-spacing: 0.5px;
          font-size: 0.8rem;

          p {
            margin: 0px 0px 0px 1.8rem;

            a {
              color: #7d1e0b;
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
  }

  .modalContainer {
    .modal {
      width: 80%;
      padding: 10px;

      h2 {
        font-size: 0.5rem;
      }
      .termo {
        margin: 0px 0.7rem;
        p {
          font-size: 0.5rem;
          line-height: 1.6;
        }
        p + p {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 24.3749rem) {
  .main {
    padding: 0px 15px;

    h1 {
      margin-top: 1.5rem;
    }

    .box {
      margin-top: 1.5rem;
      padding: 1rem;
      border-radius: 5px;

      h2 {
        color: #231718;
        font-size: 1.5rem;
      }

      p {
        margin-top: 1rem;
        color: #231718;
      }

      .form {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 0.4rem;

        .button {
          margin-top: 1rem;

          button {
            min-width: 18rem;
          }
        }

        .termo {
          margin-top: 1rem;
          letter-spacing: 0.5px;
          font-size: 0.8rem;

          p {
            margin: 0px 0px 0px 1.8rem;

            a {
              color: #7d1e0b;
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
  }

  .modalContainer {
    .modal {
      width: 90%;
      padding: 10px;

      h2 {
        font-size: 0.5rem;
        text-align: center;
      }
      .termo {
        margin: 0px 0.7rem;
        p {
          font-size: 0.4rem;
          line-height: 1.6;
        }
        p + p {
          margin-top: 0.5rem;
        }
      }
    }
  }
}
