$ft_regular: 400;
$ft_medium: 500;
$corLogo: #cdcdcd;
$corDestaque: #e6583c;
$ft_Roboto_Slab: 'Roboto Slab', serif;
$ft_Poppins: 'Poppins', sans-serif;

.main {
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1rf;
  max-width: 100vh;

  h1 {
    font-size: 2rem;
    color: #7d1e0b;
    text-align: center;
    margin-top: 8rem;
    font-family: $ft_Roboto_Slab;
    font-weight: $ft_regular;
  }

  .box {
    margin-top: 8rem;
    padding: 2rem;
    background: #cdcdcd;
    border-radius: 5px;

    h2 {
      font-family: $ft_Roboto_Slab;
      font-weight: $ft_regular;
      color: #231718;
      font-size: 2rem;
    }

    p {
      margin-top: 1rem;
      font-family: $ft_Roboto_Slab;
      font-weight: $ft_regular;
      color: #231718;
    }

    .form {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 1rem;

      .button {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;
        margin-top: 3rem;

        button {
          min-width: 20rem;
        }
      }

      .termo {
        grid-column: 1 / -1;
        display: flex;
        align-items: center;
        margin-top: 1rem;

        p {
          margin: 0px 0px 0px 6rem;

          a {
            color: #7d1e0b;
            margin-left: 0.5rem;
          }
        }
        span {
          color: #7d1e0b;
        }
      }
    }
  }
}
