$ft_medium: 500;
$ft_Roboto_Slab: 'Roboto Slab', serif;

.container {
  padding: 20px;
  display: flex;
  align-items: center;
  height: 100vh;

  .main {
    display: grid;
    grid-template-columns: 1fr;
    // width: 100%;
    min-height: 369px;
    margin-inline: auto;
    padding: 0px 60px;
    background: #cdcdcd;
    border-radius: 5px;

    h1 {
      margin-top: 4rem;
      color: #9e2b14;
      font-family: $ft_Roboto_Slab;
      font-weight: $ft_medium;
      font-size: 48px;
    }

    .form {
      display: flex;
      flex-direction: column;
      // padding: 0 70px;

      button {
        margin-top: 20px;
      }
    }
  }
}
