@charset "UTF-8";
.container {
  height: calc(100vh - 9rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main {
  display: grid;
  grid-template-areas: "menu content";
  column-gap: 4rem;
}
.container .menu {
  grid-area: menu;
}
.container .content {
  grid-area: content;
  display: grid;
  grid-template-areas: "titulo" "form";
  background: #cdcdcd;
  border-radius: 5px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
}
.container .content .titulo {
  grid-area: titulo;
  display: flex;
  align-items: center;
}
.container .content .titulo h1 {
  color: #231718;
  font-family: "Roboto Slab", serif;
  font-size: 72px;
  margin-left: 3rem;
  text-wrap: nowrap;
}
.container .content .titulo h1::after {
  content: "";
  height: 7px;
  display: block;
  background: #9e2b14;
  margin-top: -9px;
  border-radius: 5px;
}
.container .content .titulo svg > * {
  fill: #9e2b14;
}
.container .content .form {
  grid-area: form;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 20px;
}
.container .content .form label {
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  color: #231718;
}
.container .content .form .nome {
  grid-column: 1;
}
.container .content .form .email {
  grid-column: 2;
}
.container .content .form .password {
  grid-column: 1;
}
.container .content .form .confpassword {
  grid-column: 2;
}
.container .content .form .status {
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container .content .form .status .toggleContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 1rem; */
  /* Estilo para o botão toggle */
}
.container .content .form .status .toggleContainer .toggle {
  display: none;
  margin: 0px;
}
.container .content .form .status .toggleContainer .toggleLabel {
  width: 40px;
  height: 20px;
  background: #9e2b14;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  cursor: pointer;
  transition: background 200ms;
}
.container .content .form .status .toggleContainer .toggleLabel::before {
  content: "";
  width: 20px;
  height: 20px;
  background: green;
  border-radius: 50%;
  position: absolute;
  left: 2px;
  transition: 200ms;
}
.container .content .form .status .toggleContainer .toggle:checked + .toggleLabel {
  background: rgb(47, 189, 82);
}
.container .content .form .status .toggleContainer .toggle:checked + .toggleLabel::before {
  left: calc(100% - 20px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.container .content .form .status .toggleContainer .description {
  margin-left: 10px;
}
.container .content .form .status span {
  color: #453132;
  font-weight: 400;
  cursor: pointer;
}
.container .content .form .status a {
  color: #453132;
  padding: 8px;
}
.container .content .form .button {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  height: 4rem;
}

@media only screen and (max-width: 61.25rem) {
  .container .main {
    grid-template-areas: "menu" "content";
    row-gap: 4rem;
  }
}

/*# sourceMappingURL=Conta.module.css.map */
