.header {
  display: grid;
  grid-template-areas: "logo nav";
  background: linear-gradient(91deg, #453132 6.11%, #978585 100%);
  font-family: "Roboto Slab", serif;
}
.header a {
  max-width: 21.875rem;
}
.header .logo {
  grid-area: logo;
  display: flex;
}
.header .logo svg {
  margin-left: 2rem;
}
.header .logo h1 {
  color: #cdcdcd;
  font-size: 2.25rem;
  font-weight: 500;
  margin-left: 1rem;
}
.header .logo span {
  color: #e6583c;
  font-size: 3rem;
}
.header .nav {
  grid-area: nav;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.header .nav a {
  color: #cdcdcd;
}
.header .nav a::after {
  content: "";
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #826c6d;
  display: inline-block;
  box-shadow: 0 0 0 2px #978585;
  margin-left: 2rem;
  margin-bottom: 2px;
  cursor: none;
}
.header .nav a + a {
  margin-left: 2rem;
}
.header .nav a + button {
  margin: 0px 2rem;
}
.header .nav button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 135px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  color: #453132;
  background: #b4abab;
}
.header .nav button svg {
  margin-left: 1rem;
}
.header .mobileButton {
  position: relative;
  margin: 16px 0px 0px auto;
  background: #b4abab;
  border-radius: 0.2rem;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  transition: 0.1s;
  cursor: pointer;
}
.header .mobileButton::after {
  content: "";
  display: block;
  width: 1.2rem;
  height: 2px;
  border-radius: 2px;
  background: currentColor;
  box-shadow: 0 6px currentColor, 0 -6px currentColor;
  transition: 0.2s;
}
.header .mobileButton:focus, .header .mobileButton:hover,
.header .mobileButton .mobileButtonActive {
  outline: none;
  background: #fcfcfc;
  box-shadow: 0 0 0 3px #fa9784;
  border-color: #e6583c;
  color: #e6583c;
}
.header .mobileButton:focus::after, .header .mobileButton:hover::after,
.header .mobileButton .mobileButtonActive::after {
  transform: rotate(-90deg);
  width: 4px;
  height: 4px;
  box-shadow: 0 8px currentColor, 0 -8px currentColor;
}
.header .navMobile {
  display: block;
  position: absolute;
  top: 115px;
  right: 0px;
  padding: 0 1rem;
  background: #fcfcfc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.2rem;
  transform: translateX(-10px);
  opacity: 0;
  pointer-events: none;
}
.header .navMobile a,
.header .navMobile button {
  display: flex;
  align-items: center;
  background: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0;
  cursor: pointer;
  color: #453132;
}
.header .navMobile a:hover svg > *,
.header .navMobile button:hover svg > * {
  fill: #e6583c;
}
.header .navMobile button {
  border-bottom: none;
}
.header .navMobile svg {
  margin-right: 0.5rem;
}
.header .navMobileActive {
  transition: 0.3s;
  transform: initial;
  opacity: 1;
  z-index: 100;
  pointer-events: initial;
}

/*MEDIA SCREEN - MOBILE */
@media only screen and (max-width: 54.99rem) {
  .header .mobileButton {
    margin-right: 1rem;
  }
  .header .logo svg {
    margin-left: 1rem;
    width: 40px;
  }
  .header .logo h1 {
    font-size: 1.8rem;
    margin-left: 0.5rem;
    margin-top: 10px;
  }
  .header .logo span {
    font-size: 2.5rem;
  }
  .header .navMobile {
    top: 75px;
  }
}

/*# sourceMappingURL=Header.module.css.map */
